
<link rel="stylesheet"  href="{{ url_for('static',filename='style.css')}}">

<link rel="stylesheet"  href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet"  href="{{ url_for('static',filename='css/unicons.css')}}">
<link rel="stylesheet"  href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet"  href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">
 <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="https://brainai.herokuapp.com"><i class='uil uil-user'></i> BrainAI</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <!--<img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/>-->
            <h1 class="heading">
                Model that have designed- 
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://paint-it-copyright.herokuapp.com/">
                            <img src="static/images/Paint & Ken.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://paint-it-copyright.herokuapp.com/"> Paint and Ken 
                                  </a>
                                </h4>
                                <p class="">
                                    This ml model gets an image through user as a canvas and predicts.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://paint-it-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://dev-leaf-disease-classifier.herokuapp.com/">
                            <img src="static/images/agriai.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://dev-leaf-disease-classifier.herokuapp.com/"> AgriAI
                                  </a>
                                </h4>
                                <p class="">
                                    This model gets images of leaf for predict and analyze it's disease.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://dev-leaf-disease-classifier.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://object-tracking-yolov4.herokuapp.com/">
                            <img src="static/images/detection.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://object-tracking-yolov4.herokuapp.com/">DetectionAI
                                  </a>
                                </h4>
                                <p class="">
                                    This is a realtime object detection model.It can be use in many ways.
                                    Ex:In traffic signal,vehicle number plate detection,co2 emission detection-satellite imaging ..
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://object-tracking-yolov4.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://fakeoff-copyright.herokuapp.com/">
                            <img src="static/images/fake.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://fakeoff-copyright.herokuapp.com/">FakeOFF
                                  </a>
                                </h4>
                                <p class="">
                                    This model is little diff than trivial,it generalizes social messages/news about it's authenticity.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://fakeoff-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://expression-recogntn-copyright.herokuapp.com/">
                            <img src="static/images/exp.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://expression-recogntn-copyright.herokuapp.com/">FaceAI
                                  </a>
                                </h4>
                                <p class="">
                                    This is a very simple facial expression detection model.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://expression-recogntn-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://chatbot-copyright.herokuapp.com/">
                            <img src="static/images/bot.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://chatbot-copyright.herokuapp.com/">LaxBot
                                  </a>
                                </h4>
                                <p class="">
                                    This is a simple chatbot webapp- it could be reform in many ways,here i have used fb messenger data.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://chatbot-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://lesion-detection-copyright.herokuapp.com">
                            <img src="static/images/lesionai.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://lesion-detection-copyright.herokuapp.com">LesionAI
                                  </a>
                                </h4>
                                <p class="">
                                    This a skin lesion analysis based project.It stil in processing..
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://lesion-detection-copyright.herokuapp.com" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                 
                     <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://github.com/koushik1234/web-projects/blob/main/static/images/pf_project.png">
                            <img src="static/images/pf_project.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://github.com/koushik1234/web-projects/blob/main/static/images/pf_project.png">Personal Finance dashboard
                                  </a>
                                </h4>
                                <p class="">
                                    Here i get insight my day to day income,savings and expense clear picture over time with interactive power BI tool.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://github.com/koushik1234/web-projects/blob/main/static/images/pf_project.png" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="https://colab.research.google.com/drive/1AMQA76InJdSC68N1dLV2kWIi0wysCxd6?usp=sharing">
                            <img src="static/images/cs_project.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://colab.research.google.com/drive/1AMQA76InJdSC68N1dLV2kWIi0wysCxd6?usp=sharing">Personal Finance dashboard
                                  </a>
                                </h4>
                                <p class="">
                                    Customer segmentation -Here, i have segmented customer according to age, income,spendings with pandas and a few ml tools.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://colab.research.google.com/drive/1AMQA76InJdSC68N1dLV2kWIi0wysCxd6?usp=sharing" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>   
                 
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2019 BrainAI . All rights reserved</p>
                        <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://github.com/koushik1234">Koushik Ahmed</a></p>
                    </div>
                    
               </div>
          </div>
     </footer>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/Headroom.js"></script>
    <script src="static/js/jQuery.headroom.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/custom.js"></script>
