<link rel="stylesheet"  href="style.css">




<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <!--<img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/>-->
            <h1 class="heading">
                Model that have designed- 
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="static/images/Paint & Ken.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Paint and Ken 
                                  </a>
                                </h4>
                                <p class="">
                                    This ml model gets an image through user as a canvas and predicts.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://paint-it-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/agriai.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> AgriAI
                                  </a>
                                </h4>
                                <p class="">
                                    This model gets images of leaf for predict and analyze it's disease.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://dev-leaf-disease-classifier.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/detection.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">DetectionAI
                                  </a>
                                </h4>
                                <p class="">
                                    This is a realtime object detection model.It can be use in many ways.
                                    Ex:In traffic signal,vehicle number plate detection,co2 emission detection-satellite imaging ..
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://object-tracking-yolov4.herokuapp.com/ class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/fake.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">FakeOFF
                                  </a>
                                </h4>
                                <p class="">
                                    This model is little diff than trivial,it generalizes social messages/news about it's authenticity.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://fakeoff-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/exp.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">FaceAI
                                  </a>
                                </h4>
                                <p class="">
                                    This is a very simple facial expression detection model.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="href="https://expression-recogntn-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/bot.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">LaxBot
                                  </a>
                                </h4>
                                <p class="">
                                    This is a simple chatbot webapp- it could be reform in many ways,here i have used fb messenger data.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://chatbot-copyright.herokuapp.com/" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="static/images/lesionai.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">LesionAI
                                  </a>
                                </h4>
                                <p class="">
                                    This a skin lesion analysis based project.It stil in processing..
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://lesion-detection-copyright.herokuapp.com" class="btn btn-link btn-block">
                                    Model
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

